
*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: black;
    color: #e7e7e7;
    min-height: 100vh;
    line-height: 1.5;
}

/* GRADIENT AND LAYER BLUR EFFECT */

.image-gradient{
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0.5;
    z-index: -1;
}
.layer-blur{
    height: 0;
    width: 30rem;
    position: absolute;
    top: 20%;
    right: 0;
    box-shadow: 0 0 700px 15px white;
    rotate: -30deg;
    z-index: -1;
}

/* CONTAINER */

.container{
    width: 100%;
    margin: 0 auto;
    padding: 0 2rem;
    position: relative;
    overflow: hidden;
}

/* HIDDEN */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5rem;
    z-index: 999;
}

header h1{
    margin: 0;
    font-size: 3rem;
    font-weight: 300;
}
nav{
    display: flex;
    align-items: center ;
    gap: 3rem;
    margin-left: -5%;
}
nav a{
    font-size: 1rem;
    letter-spacing: 0.1rem;
    transition: color 0.2s ease;
    text-decoration:none ;
    color: inherit;
}

nav a:hover{
    color: #a7a7a7;
}
.btn-signin{
    background-color: #a7a7a7;
    color: black;
    padding: 0.8rem 2rem;
    border-radius: 50px;
    border: none;
    font-size:1rem ;
    font-weight: 500;
    transition: background-color 0.2 ease;
    cursor: pointer;
}
.btn-signin:hover{
    background-color: white;
}

/* MAIN CONTENT */
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: calc(90vh - 6rem);
}
.content{
    max-width: 40rem;
    margin-left: 10%;
    z-index: 999;
}
.tag-box{
    position: relative;
    width: 18rem;
    height: 2.5rem;
    border-radius: 50px;
    background: linear-gradient(to right, #656565, #7f42a7, #6600c5,
    #5300a0, #757575, #656565);
    background-size: 200%;
    animation: animationGradient 2.5s, linear infinite;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.3);
}
@keyframes animationGradient{
    to{
        background-posItion: 200%;
    }
}
.tag-box .tag{
    position: absolute;
    inset: 3px 3px 3px 3px;
    background-color: black;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition:  0.5s ease;
}

.tag-box .tag:hover{
    color: #5300a0;
}
.content h1{
    font-size: 4rem;
    font-weight: 600;
    letter-spacing: 0.1em;
    margin: 2rem 0;
    line-height: 1.2;
    text-shadow: 0 0 10px rgba(128, 128, 128, 0.418);
}
.description{
    font-size: 1.2rem;
    letter-spacing: 0.05em;
    max-width: 35rem;
    color: gray;
}
.buttons{
    display: flex;
    gap: 1rem;
    margin-top: 3rem;
}
.btn-get-started{
    text-decoration: none;
    border: 1px solid #2a2a2a;
    padding: 0.7rem 1.2rem;
    border-radius: 50px;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 0.1em;
    transition: background-color 0.2s ease;
}
.btn-get-started:hover{
    background-color: #1a1a1a;
}
.btn-signing-main{
    text-decoration: none;
    background-color: lightgray;
    color: black;
    padding: 0.6rem 2.5rem;
    border-radius: 50px;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 0.1em;
    transition: background-color 0.2s ease;
}
.btn-signing-main:hover{
     background-color: gray;
}
.robot-3d{
    position: absolute;
    top: 0;
    right: -20%;
}


/* TABLET RESPONSIVE */

@media (max-width: 1300px){
    header{
        padding: 1rem 0.5rem;
    }
    .content{
        margin-top: 85%;
    }
    .robot-3d{
        scale: 0.8;
        top: -20%;
        right: 2%;
    }
}

/* MOBILE RESPONSIVE */


@media (max-width: 768px){
    header{
        padding: 1rem 0.1rem;
    }
    nav{
        display: none;
    }
    header h1{
        font-size: 2rem;
    }
    .btn-signing{
        padding: 0.6rem 1.5rem;
    }
    .content{
        margin-top: 25rem;
    }
    .robot-3d{
        scale: 0.5;
        top: -25%;
        right: 0;
    }
    .content{
        max-width: 30rem;
        margin-left: 10%;
    }
    .tag-box{
        width: 12rem;
    }
    .content h1{
        font-size: 2.5rem;
    }
    .description{
        font-size: 1rem;
    }
    .btn-get-started{
        font-size: 0.8rem;
        padding: 0.8rem 1.2rem;
    }
    .btn-signing{
        font-size: 0.8rem;
        padding: 0.8rem 2rem;
    }
}


/* ABOUT PAGE */



.heading-container{
    display: grid;
    justify-content: center;
    margin-top: -20rem;

}
.heading1{
    margin-left: 5rem;
}
.heading2{
    margin-left: -3rem;
    font-size: 50px;
    background: linear-gradient(270deg, #ffffff 0%, #af9e51 33%, #67959c 66%, #1dd1a1 100%);
color: transparent;
-webkit-background-clip: text;
background-clip: text;
-webkit-text-fill-color: transparent;
/* text-fill-color: transparent; */
}
.para-container{
    display: grid;
    justify-content: center;
    margin-top: 2rem;
    margin-left: -2em;
    line-height: 25px;
    font-size: 19px;

}
.p2{
    margin-left: 7em;
}
/* .about-me{
    display: flex;
    justify-content: center;
    margin-top: 25em;
    color: #656565;
} */
 .what-i-do{
    display: flex;
    justify-content: center;
    margin-top: 6em;
    color: #656565;
    font-size: 60px;
 }
.box-container{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
	gap: 100px;
    margin-top: 5em;
    position: relative;
    margin-left: -23vh;
    
}
.box{
    border-radius: 40px;
    width: 50vh;
    background-color: #a7a7a7;
    height: 25vh;
    margin-left: 13em;
}
.box1{
    display: grid;
    justify-content: center;
}
.box2{
    display: grid;
    justify-content: center;
    
}
.box3{
    display: grid;
    justify-content: center;
}
.box4{
    display: grid;
    justify-content: center;
}
.box-heading1{
    margin-left: -12vh;
    color: black;
}

.box-para2{
    line-height: 40px; 
}
.box-para3{
    margin-left: -12vh;
    line-height: 40px; 
}
.box-para4{
    line-height: 40px; 
}

.box-heading{
    color: #1a1a1a;
}
.bring{
     color: #656565;
}
.bring{
    display: flex;
    justify-content: center;
    margin-top: 20vh;
    font-size: 60px;
}
.tech-boxes{
    display: flex;
    gap: 20vh;
    justify-content: center;
    margin-left: 2em;
    margin-top: 8em;
}
.frontend{
    background-color: #000000;
    height: 35vh;
    width: 40vh;
    border-radius: 10px;
    
}
.front{
    margin-left: 11vh;
    margin-top: -13vh;
    font-size: 40px;
}
.frontend img{
    width: 40vh;
    height: 35vh;
    border-radius: 10px;
}
.backend{
      background-color: #ff3434;
    height: 35vh;
    width: 40vh;
    border-radius: 10px;
    margin-top: 25em;
}
.back{
     margin-left: 12vh;
    margin-top: -13vh;
    font-size: 40px;
}
.backend img{
     width: 40vh;
    height: 35vh;
    border-radius: 10px;
}
.front-heading-container{
 margin-left: 25em;   
 margin-top: -12em;
 width: 80vh;
 font-size: 20px;
}
.front-p{
    /* font-size: 60px; */
    width:  50vh;
}
.back-heading-container{
    margin-left: -50em;
    margin-top: -10em;
    width: 50vh;
     font-size: 20px;
}
.tool-heading-container{
    margin-left: 25em;   
 margin-top: -12em;
 width: 60vh;
 font-size: 20px;
}

.tools{
      /* background-color: #ff3838; */
      margin-left: -3vh;
    height: 35vh;
    width: 40vh;
    border-radius: 10px;
    position: relative;
    top: 50em;
    right: 35em;
}
.tool{
    margin-left: 15vh;
    margin-top: -10vh;
    font-size: 50px;
}
.tools img{
      width: 40vh;
    height: 35vh;
    border-radius: 10px;
}
.footer{
    margin-top: 35em;
     background: #0b0f14; 

}
.footer::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  /* bottom: 0; */
  /* top: 0; */
  height: 45%;
  background: linear-gradient(
    to top,
    rgba(0, 122, 255, 0.38),
    rgba(0, 122, 255, 0.18),
    transparent
  );
  pointer-events: none;
  z-index: 0;
}

.footer-heading ul{
    display: flex;
    margin-top: 3em;
    list-style: none;
    gap: 20px;
    margin-left: 20vh;

}
.svg{
    margin-left: 80vh;
}
.heading{
    margin-left: 12em;
    margin-top: 7vw;
    width: 80vw;
    height: 20vh;
}
.heading h1{
    font-size: 90px;
    line-height: 9vh;
}
.navigate{
    margin-left: 50em;
    margin-top: -25vh;
}
.navigate-p{
    font-size: 35px;
}
.navigate ul {
    display: grid;
    gap: 10px;
    font-size: 20px;
    margin-left: 3vh;
    margin-top: 2vh;

}
.icon{
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    width: 40px;
}
.navigate1{
    margin-left: 70em;
    margin-top: -23vh;
  
}
.navigate-p1{
    font-size: 35px;
    background: linear-gradient(to bottom);
}
.navigate1 ul {
    display: grid;
    gap: 7px;
    font-size: 20px;
    margin-left: 3vh;
    margin-top: 2vh;

}
.start{
    background-color: rgb(0, 183, 255);
    color: white;
    width: 15vh;
    height: 3em;
    margin-top: 2em;
    font-size: 20px;
    border-radius: 30px;
}
.start1{
       background-color: rgb(0, 0, 0);
    color: white;
    width: 15vh;
    height: 3em;
    margin-top: 2em;
    font-size: 20px;
    border-radius: 30px;
    border: 1px solid rgb(65, 63, 63);
    margin-left: 2vh;
          background: linear-gradient(
  to top,
  rgba(0, 122, 255, 0.38) 0%,
  rgba(0, 122, 255, 0.18) 30%,
  rgba(0, 0, 0, 0) 70%
),

#0b0f14;
}

/* RESOURCES */

.cheatSheet{
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    margin-top: 5em;
}
.resource-boxes{
    display: grid;
   grid-template-columns: auto auto auto auto;
    gap: 20px;
    margin-top: 4vh;
    justify-content: center;
}
.box-lng{
    background-color: #474141;
    color: #000000;
    width: 43vh;
    height: 23em;
    border-radius: 10px;
}
.lng-img{
    width: 160px;
    margin-left: 12vh;
    margin-top: 2vh;
}
.lng-p{
    color: #ffffff;
    font-weight: bolder;
    font-size: 20px;
    display: flex;
    justify-content: center;
    margin-left: -2vh;
    
}
.lng-p2{
     display: flex;
    justify-content: center;
    margin-left: -2vh;
    font-size: 16px;
    color: lightblue;
}
.notes-btn{
      text-decoration: none;
    border: 1px solid #2a2a2a;
    padding: 0.2rem 1rem;
    border-radius: 50px;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 0.1em;
    transition: background-color 0.2s ease;
    display: grid;
    width: 20vh;
    justify-content: center;
    margin-left: 10vh;
    margin-top: 16px;
    border-radius: 7px;
    color: #67959c;
    background-color: #000000;
}
.wise{
    width: 30vh;
    margin-left: 45px;
}

/* HIRE */

/* .hire-main{
    /* overflow: hidden; */


.hire-heading{
    display: grid;
    justify-content: center;
    margin-top: 5vh;
    /* overflow: hidden; */
    color: whitesmoke;
    margin-left: -25vw;
}
.hire-box{
    margin-left: 65vw;
    margin-top: -30vh;
    width: 30vw;
    height: 17vw;
    background-color: rgb(37, 37, 70);
}
.hire-box h2{
    margin-left: 2vh;
    position: relative;
    top: 2vh;
}
.hire-box ul {
    margin-left: 4vh;
    margin-top: 4vh;
    line-height: 4vh;
    list-style:circle ;
}
.hire-box ul li{
    color: #1dd1a1;
}
.hire-box2{
     margin-left: 65vw;
     margin-top: 2vh;
     width: 30vw;
      background-color: rgb(37, 37, 70);
}
.hire-box2 h2{
    margin-left: 3vh;
    position: relative;
    top: 2vh;
}
.hire-box2 p{
    margin-left: 3vh;
    margin-top: 3vh;
    color: #1dd1a1;
}
.hire-box2 button{
    background-color: black;
    color: white;
    width: 27vw;
    margin-left: 3vh;
    margin-top: 3vh;
    border: 1px solid wheat ;
    border-radius: 25px;
    height: 5vh;
    font-size: 20px;
}
.hire-box3{
    margin-top: -11vw;
    width: 60vw;
    margin-left: 3vh;
      background-color: rgb(37, 37, 70);

}
.hire-p{
    font-size: 20px;
}
.pay1{
    font-size: 60px;
    width: 70vw;
}

.hire-box3 h2{
    margin-left: 4vh;
    position: relative;
    top: 1vh;
    font-size: 30px;
}
.hire-box3 p{
   margin-left: 4vh;
   margin-top: 1vh;
   font-size: 19px;
   color: #10b981;
}
.hire-box3 ul{
    margin-left: 6vh;
    margin-top: 1vh;
    line-height: 3em;
    color: #10b981;
}






/* ===============================
   CSS VARIABLES (SCOPED)
================================ */
.hire-root {
  --bg-color: #050505;
  --text-main: #d4d4d8;
  --text-muted: #71717a;
  --text-heading: #ffffff;
  --border-color: rgba(255, 255, 255, 0.05);
  --border-hover: #3f3f46;
  --card-bg: rgba(24, 24, 27, 0.4);
  --input-bg: rgba(9, 9, 11, 0.5);
  --input-border: #27272a;
  --primary-emerald: #10b981;
  --primary-light: #34d399;
  --primary-ring: rgba(16, 185, 129, 0.1);
  --primary-border-focus: rgba(16, 185, 129, 0.3);

  font-family: "Inter", sans-serif;
  background-color: var(--bg-color);
  color: var(--text-main);
  min-height: 100vh;
  padding: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow-x: hidden;
  background-image: radial-gradient(
    circle at 50% 0%,
    rgba(16, 185, 129, 0.08),
    transparent 50%
  );
}

/* Selection */
.hire-root ::selection {
  background-color: rgba(16, 185, 129, 0.3);
  color: #a7f3d0;
}

/* ===============================
   BACKGROUND DECOR
================================ */
.bg-noise {
  position: absolute;
  inset: 0;
  height: 24rem;
  background-image: url("https://grainy-gradients.vercel.app/noise.svg");
  opacity: 0.2;
  pointer-events: none;
  z-index: 0;
}

.bg-glow {
  position: absolute;
  top: -6rem;
  left: 50%;
  transform: translateX(-50%);
  width: 24rem;
  height: 24rem;
  background-color: rgba(16, 185, 129, 0.1);
  filter: blur(100px);
  border-radius: 9999px;
  pointer-events: none;
  z-index: 0;
}

/* ===============================
   CARD
================================ */
.card {
  position: relative;
  z-index: 10;
  width: 100%;
  max-width: 32rem;
  background-color: var(--card-bg);
  backdrop-filter: blur(24px);
  border-radius: 1.5rem;
  padding: 2.5rem;
  border: 1px solid var(--border-color);
  border-top: 1px solid rgba(255, 255, 255, 0.08);
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.5);
}

/* ===============================
   HEADER
================================ */
/* .header {
  text-align: center;
  margin-bottom: 2.5rem;
}

.icon-badge {
  width: 3rem;
  height: 3rem;
  margin: 0 auto 1.5rem;
  border-radius: 9999px;
  background-color: rgba(39, 39, 42, 0.5);
  border: 1px solid var(--border-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.header h1 {
  font-size: 1.875rem;
  font-weight: 500;
  color: var(--text-heading);
  letter-spacing: -0.025em;
  margin-bottom: 0.75rem;
  /* width: 70vw;  */
/* }

.header p {
  font-size: 0.875rem;
  color: var(--text-muted);
  line-height: 1.6;
  position: relative;
  top: 11vh;
  left: -15vh;
} */ 

.header {
  text-align: center;
  margin-bottom: 2.5rem;
}

.icon-badge {
  width: 3rem;
  height: 2rem;
  margin: 0 auto 1.5rem;
  border-radius: 9999px;
  background-color: rgba(39, 39, 42, 0.5);
  border: 1px solid var(--border-color);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -5vw;
  position: relative;
  left: 13vh;
}

/* FORCE SINGLE LINE */
.header-title {
  font-size: 1.875rem;
  font-weight: 500;
  color: var(--text-heading);
  letter-spacing: -0.025em;
  margin-bottom: 0.75rem;

  white-space: nowrap;
  /* overflow: hidden; */
  text-overflow: ellipsis;
  margin-left: -2vw;
}

/* FORCE SINGLE LINE */
.header-subtitle {
  font-size: 0.875rem;
  color: var(--text-muted);
  line-height: 1.6;

  white-space: nowrap;
  /* overflow: hidden; */
  text-overflow: ellipsis;
  margin-top: 8vh;
  margin-left: -17vw;
}


/* ===============================
   FORM
================================ */
.form-group {
  margin-bottom: 1.5rem;
}

.form-label {
  font-size: 0.75rem;
  font-weight: 500;
  color: var(--text-muted);
  text-transform: uppercase;
  letter-spacing: 0.05em;
  margin-bottom: 0.5rem;
  display: block;
}

.form-input,
.form-select,
.form-textarea {
  width: 100%;
  background-color: var(--input-bg);
  border: 1px solid var(--input-border);
  border-radius: 0.75rem;
  padding: 0.875rem 1rem;
  font-size: 0.875rem;
  color: #e4e4e7;
  outline: none;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.form-input::placeholder,
.form-textarea::placeholder {
  color: #52525b;
}

.form-input:hover,
.form-select:hover,
.form-textarea:hover {
  border-color: var(--border-hover);
}

.form-input:focus,
.form-select:focus,
.form-textarea:focus {
  border-color: var(--primary-border-focus);
  box-shadow: 0 0 0 4px var(--primary-ring);
}

/* Textarea */
.form-textarea {
  resize: none;
  min-height: 100px;
}

/* Grid */
.form-grid {
  display: grid;
  gap: 1.5rem;
}

@media (min-width: 640px) {
  .form-grid {
    grid-template-columns: 1fr 1fr;
  }
}

/* ===============================
   BUTTONS & LINKS
================================ */
.btn-primary {
  width: 100%;
  border: none;
  border-radius: 9999px;
  padding: 0.875rem 1.5rem;
  font-weight: 500;
  cursor: pointer;
  background: linear-gradient(
    to bottom,
    var(--primary-light),
    var(--primary-emerald)
  );
  color: #09090b;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  box-shadow: 0 0 20px rgba(52, 211, 153, 0.15);
}

.btn-primary:hover {
  transform: scale(1.01);
  box-shadow: 0 0 25px rgba(52, 211, 153, 0.35);
}

.btn-primary:active {
  transform: scale(0.99);
}

.secondary-container {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
}

.link-secondary {
  font-size: 0.875rem;
  color: var(--text-muted);
  text-decoration: none;
}

.link-secondary:hover {
  color: #ffffff;
}

/* ===============================
   FOOTER
================================ */
.footer-text {
  margin-top: 2rem;
  text-align: center;
  font-size: 0.75rem;
  color: #52525b;
  line-height: 1.6;
  max-width: 20rem;
  margin-inline: auto;
}
